.feed {
  width: calc(100% - 20px);
  height: 328px;
  overflow: hidden;
  margin: 10px;
  background-color: white;
  box-shadow: 1px 1px 5px 5px grey inset;
  border-radius: 15px;
}

.feed-nav {
  position: relative;
  top: 0;
  width: 100%;
  height: 35px;
  background-color: blue;
}

.stream-title {
  display: flex;
  color: white;
  height: inherit;
  align-items: center;
  justify-content: center;
}

.stream-title:hover {
  text-decoration: underline;
}