.feed {
  width: 100%;
  height: 300px;
  overflow: hidden;
  box-shadow: 1px 1px 5px 5px grey inset;
  border-radius: 15px;
}

.feed-navbar {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #0047ab;
}

.feed-navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: inherit;
  display: flex;
  align-items: center;
}

.feed-navbar ul li {
  display: inherit;
  height: inherit;
  align-items: center;
}

.feed-navbar ul li a {
  text-decoration: none;
  display: inherit;
  height: inherit;
  align-items: center;
  color: white;
  padding: 0 15px 0 15px;
  user-select: none;
}

.feed-navbar ul li a:hover {
  background-color: #003989;
  color: white;
}

.left {
  margin-right: auto;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.right {
  margin-left: auto;
}
